# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.tsbuildinfo
.turbo

# Test coverage
coverage

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Temp files for rule conversion
.temp/

# Misc
*.tgz
.changeset/*.md
!.changeset/README.md
